<h1>Categories</h1>

<ul>
{% for tag in collections | getKeys | filterTagList %}
	{% set tagUrl %}/category/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>
